#intellectPick {
  background: rgba(64, 64, 64, 0.5);
  position: absolute;
  width: full;
  height: full;
}

#cardComponent {
  position: absolute;
  z-index: 20;
  position: absolute;
  opacity: 1;
}
