#block1 {
  background-color: #fbae51;
}
#block2 {
  background-color: #dbece5;
}
#block3 {
  background-color: #afd9d2;
}

#block4 {
  background-color: #d1ecfd;
}

#block5 {
  background-color: #fff3ea;
}
